extends indexProf

block content
  .divMsj
    ul
    button.btn-Msj
  section.flexCenter.section
    .divFormPrescripcion.center.column.blur
      h3.text-center.text-fondoAzul.borderRadiusTop5px Modificar Prescripcion
      h4.text-center.text-fondoAzul Datos Profesional
      form(id='formPrescripcion' novalidate)
        // Información del Profesional
        .divDatos.divDatosMinimizar    
          div   
            label.labelCenter130px(for="profNombre") Nombre
            input(type="text", id="profNombre", name="profNombre", disabled, required)
          div
            label.labelCenter130px(for="profApellido") Apellido
            input(type="text", id="profApellido", name="profApellido", disabled, required)
          div 
            label.labelCenter130px(for="profDocumento") Documento
            input(type="text", id="profDocumento", name="profDocumento", disabled, required)
          div
            label.labelCenter130px(for="profProfesion") Profesión
            input(type="text", id="profProfesion", name="profProfesion", disabled, required)
          div
            label.labelCenter130px(for="profEspecialidad") Especialidad
            input(type="text", id="profEspecialidad", name="profEspecialidad", disabled, required)
          div
            label.labelCenter130px(for="profMatricula") Matrícula
            input(type="text", id="profMatricula", name="profMatricula", disabled, required)
          div.divDomicilio        
            label.labelCenter130px(for="profDomicilio") Domicilio
            input(type="text", id="profDomicilio", name="profDomicilio", disabled, required)    

        // Información del Paciente
        h4.text-center.text-fondoAzul Datos Paciente
        .divDatos.divDatosMinimizar.column 
          p Por favor ingrese el Documento para encontrar el historial o crear un paciente nuevo.
          .divBuscarDocumento
            div
              label.labelCenter(for="documento") Documento
              input(type="text" id="documento" name="documento" autocomplete="off")
              i.fa-solid.fa-magnifying-glass.btnBuscar
            ul(id="pacientes-list" class="pacientes-list listaFiltrada right-127px displayNone")
          .divMasCampos.displayNone
            div.divsDatosPaciente
              label.labelCenter.labelCenter142px(for="pacApellido") Apellido
              input(type="text", id="pacApellido", name="pacApellido", disabled)
            div.divsDatosPaciente
              label.labelCenter.labelCenter142px(for="pacNombre") Nombre
              input(type="text", id="pacNombre", name="pacNombre", disabled)              
            div.divsDatosPaciente
              label.labelCenter.labelCenter142px(for="pacObraSocial") Obra Social
              input(type="text", id="pac_obra_social", name="pacObraSocial",  disabled)          
            div.divsDatosPaciente 
              label.labelCenter.labelCenter142px(for="pacPlan") Plan
              input(type="text", id="pac_plan", name="pacPlan",  disabled)          
            div.divsDatosPaciente
              label.labelCenter.labelCenter142px(for="pacTelefono") Telefono
              input(type="text", id="pacTelefono", name="pacTelefono",  disabled)          
            div.divsDatosPaciente
              label.labelCenter.labelCenter142px(for="pacGenero") Sexo
              input(type="text", id="pacGenero", name="pacGenero", disabled)
            div.divsDatosPaciente 
              label.labelCenter.labelCenter142px(for="pacAlergia") Alergia
              input(type="text", id="pacAlergia", name="pacAlergia", placeholder="opcional", disabled)    
            div.divsDatosPaciente
              label.labelCenter.labelCenter142px.font08rem(for="pacFechaNacimiento") Fecha de Nacimiento
              input(type="date", id="pacFechaNacimiento", name="pacFechaNacimiento", class="inputFecha", disabled)


        // Prescripciones anteriores
        h4.text-center.text-fondoAzul Prescripciones anteriores 
        .divDatos.divDatosMinimizar.divPrescAnteriores
          p.pPrescripcionesAnt Debe ingresar un documento en paciente y darle clic izquierdo en buscar...

        // Información de la Prescripción
        h4.text-center.text-fondoAzul Prescripcion
        .divDatos 
          div
            label.labelCenter130px(for="fechaPrescripcion" class="labelFecha") Fecha actual
            input(type="date", id="inputFecha", name="fecha", class="inputFecha", required)
          div
            label.labelCenter130px(for="vigencia") Vigencia
            select(id="vigencia", name="vigencia")
              option(value="30", selected) 30 días
              option(value="60") 60 días
          div.divTextarea 
            label.labelCenter130px(for="diagnostico") Diagnostico
            textarea(id="diagnostico", name="diagnostico", class="textArea", required, rows="3", cols="80")


        // Medicamentos y/o Prestaciones
        h4.text-center.text-fondoAzul Medicamentos
        .divDatos.divDatosMedicamentos.divMedicamentos.column
          .divBuscarMedicamentoItem 
            div
              label(for="medicamentoItem" class="labelCenter130px") Medicamento
              input(type="text" id="medicamentoItem" name="medicamentoItem" autocomplete="off") 
            ul(id="medicamentos-list" class="medicamentos-list listaFiltrada right-140px displayNone") <!-- Div para mostrar las coincidencias -->
          div  
            label.labelCenter130px(for="administracion") Administración
            input(type="text", id="administracion", name="administracion", placeholder="Ej: Una cápsula cada 8 hs, 2 pastillas después de cada comida.", required)
          div
            label.labelCenter130px(for="duracion") Duración
            input(type="text", id="duracion", name="duracion", placeholder="Ej: 7 días", required)
          .divBtnAgregarOtro        
            button(type="button", class="btnAgregarOtro") Agregar 
          .divMedicamentosAgregados.displayNone

        h4.text-center.text-fondoAzul Prestaciones
        .divDatos.divDatosPrestaciones.divPrestaciones.column
          .divBuscarDescripcion 
            div
              label(for="prestacion" class="labelCenter") Prestacion
              input(type="text" id="prestacion" name="prestacion" autocomplete="off") 
            ul(id="prestaciones-list" class="prestaciones-list listaFiltrada right-135px displayNone") <!-- Div para mostrar las coincidencias -->
          .divBuscarDescripcion 
            div
              label(for="lado" class="labelCenter")  Lado
              input(type="text" id="lado" name="lado" autocomplete="off" placeholder="Opcional, si el estudio aplica Lado.") 
            ul(id="lados-list" class="lados-list listaFiltrada right-135px displayNone") <!-- Div para mostrar las coincidencias -->
          div
            label.labelCenter(for="indicacion") Indicación
            input#indicacion(name="indicacion", placeholder="Razón para realizar este procedimiento/examen", type="text")
          div
            label.labelCenter(for="justificacion") Justificación
            input#justificacion(name="justificacion", placeholder="Explicación de por qué este procedimiento/examen es necesario para el diagnóstico o tratamiento", type="text")
          .divBtnAgregarOtra        
            button(type="button", class="btnAgregarOtra") Agregar 
          .divPrestacionesAgregadas.displayNone
                       
        // Botón de Enviar
        .divBtnAgregarPrescripcion
          button(class="btnAgregarPrescripcion") Enviar
          script(src="/js/formCrearPrescripcionCliente.js", type="module") 