extends indexAdmin

block content
  .divMsj 
    ul
    button.btn-Msj 
  section.flexCenter.section.column
    .divModificarMedicamento.center.column.blur
      h3.text-center.text-fondoAzul.borderRadiusTop5px Modificar Medicamento 
      h4.text-center.text-fondoCeleste Buscar Medicamento

      .divFlexRow
        .divDatosMedicamentoNuevo
          p.pMedicamentoBusqueda Por favor ingrese el Nombre Generico del medicamento que desea modificar.

          form( id="formModificarMedicamento" autocomplete="off")
            h4.h4Medicamento.text-center.text-fondoCeleste.borderRadius4px.displayNone Datos Medicamento

            .divBuscarNombreGenerico 
              div
                label(for="nombreGenerico" class="labelCenter130px") Nombre Generico
                input(type="text" id="nombreGenerico" name="nombreGenerico" autocomplete="off") 
                i.fa-solid.fa-magnifying-glass.btnBuscar
              ul(id="medicamentos-list" class="medicamentos-list displayNone") <!-- Div para mostrar las coincidencias -->
            div(id="nombreGenerico-list" class="nombreGenerico-list displayNone") <!-- Div para mostrar las coincidencias -->
            div.divDatosMedicamento.column.displayNone
              div 
                label(for="nombreComercial" class="labelCenter130px") Nombre Comercial
                input(type="text" id="nombreComercial" name="nombreComercial" autocomplete="off" placeholder="opcional") 
              .divMedicamentoFamilia 
                label(for="familia" class="labelCenter130px") Familia
                input(type="text" id="familia" class="selectFamilia" name="familia"   placeholder="Puede ingresar una nueva")
                ul(id="familia-list" class="familia-list displayNone") <!-- Div para mostrar las coincidencias -->
              .divMedicamentoCategoria 
                label(for="categoria" class="labelCenter130px") Categoria
                input(id="categoria" class="selectCategoria" name="categoria"  placeholder="Puede ingresar una nueva")
                ul(id="categoria-list" class="categoria-list displayNone") <!-- Div para mostrar las coincidencias -->
              div
                label(for="estadoM" class="labelCenter130px") Estado
                select(id="estadoM" class="selectEstadoModificarMedicamento" name="estadoM")
                  option(value="1") DISPONIBLE
                  option(value="0") NO DISPONIBLE                           
            button(type="button" class="btnModificarMedicamento displayNone") Modificar Medicamento
            div.divDatosMedicamentoItem.column.displayNone
              h4.h4MedicamentoItem.width100.text-center.text-fondoCeleste.borderRadius4px.displayNone Datos Medicamento Item
              .divMedicamentoItem 
                label(for="medicamentoItem" class="labelCenter130px labelMedicamentoItem") Medicamento Item
                input(id="medicamentoItem" class="selectMedicamentoItem" name="medicamentoItem"  placeholder="Ingrese ID del Item ")
                i.fa-solid.fa-magnifying-glass.btnBuscarItem
              .divMedicamentoForma 
                label(for="formaFarmaceutica" class="labelCenter130px labelFormaFarmaceuticaFormMedicamento") Forma Farmaceutica
                input(id="formaFarmaceutica" class="selectForma" name="formaFarmaceutica" disabled)
                ul(id="formaFarmaceutica-list" class="formaFarmaceutica-list displayNone") <!-- Div para mostrar las coincidencias -->
              .divMedicamentoPresentacion 
                label(for="presentacion" class="labelCenter130px") Presentacion
                input(id="presentacion" class="selectPresentacion" name="presentacion" disabled)
                ul(id="presentacion-list" class="presentacion-list displayNone") <!-- Div para mostrar las coincidencias -->
              .divMedicamentoConcentracion 
                label(for="concentracion" class="labelCenter130px") Concentracion
                input(id="concentracion" class="selectConcentracion" name="concentracion" disabled) 
                ul(id="concentracion-list" class="concentracion-list displayNone") <!-- Div para mostrar las coincidencias -->
              div
                label(for="estadoI" class="labelCenter130px") Estado
                select(id="estadoI" class="selectEstadoModificarMedicamentoItem" name="estadoI" disabled)
                  option(value="-1")  
                  option(value="1") DISPONIBLE
                  option(value="0") NO DISPONIBLE                 
              button(type="button" class="btnModificarMedicamentoItem displayNone") Modificar Item
    

    .divMedicamentosExistentes.center.column.blur.displayNone 
      h3.text-center.text-fondoAzul.borderRadiusTop5px Lista de Items del Medicamento 
      h4.text-center.text-fondoCeleste Datos de items
      .divContenedorItems.displayNone

  script(src="/js/formModificarMedicamentoCliente.js", type="module") // Incluye el archivo JavaScript del cliente