extends indexAdmin 

block content 
  .divMsj 
    ul
    button.btn-Msj 
  section.flexCenter.section
    .divModificarUsuario.center.column.blur
      h3.text-center.text-fondoAzul.borderRadiusTop5px Modificar Usuario
      h4.text-center.text-fondoCeleste Buscar Documento
      p Por favor ingrese el documento del usuario que desea modificar, puede buscarlo en el siguiente enlace #[a(href='http://localhost:3000/mostrarFormBuscarUsuarios' target='_blank') Buscar Usuarios]
      div.flexCenter.divBuscarDocumento
        label(for="buscarDocumento" class="labelCenter") Documento
        input(type="text" id="buscarDocumento" name="buscarDocumento" autocomplete="off") 
        i.fa-solid.fa-magnifying-glass.btnBuscarDocumento
      .divFlexRow.displayNone
        //- Agrego class .divDatosModificarUsuario para manipular el dom, mantengo los estilos de crear usuario

        .divDatosUsuarioModificar
          h4.text-center.text-fondoCeleste.h4ModificarUsuario Datos Usuario
          form(id="formModificarUsuario" autocomplete="off")
            div 
              label(for="nombre" class="labelCenter") Nombre
              input(type="text" id="nombre" name="nombre" autocomplete="off") 
            div 
              label(for="apellido" class="labelCenter") Apellido
              input(type="text" id="apellido" name="apellido" autocomplete="off") 
            div 
              label(for="documento" class="labelCenter") Documento
              input(type="text" id="documento" name="documento" autocomplete="off") 
            div 
              label(for="email" class="labelCenter") Email
              input(type="email" id="email" name="email" autocomplete="off")
            div
              label(for="estado" class="labelCenter") Estado
              select(id="estado" class="selectEstadoModificarUsuario" name="estado")
                option(value="1") ACTIVO
                option(value="0") INACTIVO

            div 
              label(for="roles" class="labelCenter") Rol/es
              select(id="roles" class="selectRolesModificarUsuario" name="roles")
            button(type="button" class="btnAsignarRol") Asignar Rol
            .divRolesAsignados
              ul.ulRolesAsignados
        .divDatosModificarRolProfesional.displayNone
          h4.text-center.text-fondoCeleste.h4ModificarUsuario Datos Rol Profesional  
          form( id="formModificarRolProfesional" autocomplete="off")
            div 
              label(for="profesion" class="labelCenter") Profesion
              input(type="text" id="profesion" name="profesion" autocomplete="off") 
            div 
              label(for="especialidad" class="labelCenter") Especialidad
              input(type="text" id="especialidad" name="especialidad" autocomplete="off") 
            div 
              label(for="matricula" class="labelCenter") Matricula
              input(type="text" id="matricula" name="matricula" autocomplete="off")  
            div 
              label(for="idRefeps" class="labelCenter") ID Refeps
              input(type="number" id="idRefeps" name="idRefeps" autocomplete="off")
            div 
              label(for="caducidad" class="labelCenter") Caducidad
              input(type="date" class="datosProfCaducidad"  id="caducidad" name="caducidad" autocomplete="off")   
            div 
              label(for="domicilio" class="labelCenter") Domicilio
              input(type="text" id="domicilio" name="domicilio" autocomplete="off")
      button(type="button" class="btnModificarUsuario displayNone") Modificar Usuario
    script(src="/js/formModificarUsuarioCliente.js", type="module") // Incluye el archivo JavaScript del cliente