doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gabriel Torrez
    link(rel='stylesheet', href='/css/style.css')

  body
    header.header
      div.flexCenter
        h1 SISA
        p Sistema Integrado de Información Sanitaria Argentino
      nav
        ul.ulNav 
          li
            a(href='#') Prescripcion
            ul.subMenu
              li
                a(href='/crearPrescripcion') Agregar Prescripcion
              li
                a(href='/modificarUsuario') Modificar Prescripciom
              li
                a(href='/') Buscar Prescripciones

          li
            a(href='#') Paciente
            ul.subMenu
              li
                a(href='/crearPrescripcion') Agregar Paciente
              li
                a(href='/modificarUsuario') Modificar Paciente
              li
                a(href='/buscarPacientes') Buscar Pacientes
          li
            a(href='#') Mis turnos
            ul.subMenu
              li
                a(href='') Agregar Turno
              li
                a(href='') Modificar Turno
              li
                a(href='') Buscar Turnos                  
          li
            a(href='#') Mi cuenta
            ul.subMenu
              li
                a(href='') Cambiar contraseña (pendiente)
              li
                a(href='/logout') Cerrar sesíon

    block content
    section.section


    footer.flexCenter.column.footer
      p.pFooter1  Sistema Integrado de Información Sanitaria Argentino 
      p.pFooter2  Gabriel Torrez © 2024
      p.pFooter2 San Luis,La Punta. ULP - Laboratorio II