doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gabriel Torrez
    link(rel="stylesheet", href="/css/style.css")

  body
    header.header
      div.flexCenter
        h1 SISA
        p Sistema Integrado de Información Sanitaria Argentino
        
    block content



    footer.flexCenter.column.footer
      p.pFooter1  Sistema Integrado de Información Sanitaria Argentino 
      p.pFooter2  Gabriel Torrez © 2024
      p.pFooter2 San Luis, La Punta. ULP - Laboratorio II


