* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --azulOscuro: #0d253f;
    --azulSemiOscuro: #023e8a;
    --celesteOscuro: #007BFF;
    --celeste: #48cae4;
    --celesteClaro: #ade8f4;
    --color-fondo: #e6e3e3;
}

body {
    background-color: var(--azulOscuro);
}

/* ------------------------------------------------------------------------------------- layout */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 60px;
    background-color: var(--azulOscuro);
    color: #fff;
    border-bottom: 2px solid var(--celesteOscuro);
    z-index: 2;
    margin: 0px auto;
}



/* Espacio entre SISA y la linea celeste vertical */
.header div h1 {
    padding-right: 5px;
}

/* header p= Sistema integrado de... */
.header p {
    width: 250px;
    font-size: 0.9rem;
    /* Espacio entre el p y la linea celeste vertical */
    padding-left: 5px;
}

/* div logo header */
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ESTILOS PARA NAV DEL HEADER */
/* Estilo base para la lista y ocultar submenús */
.ulNav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* items principales del nav en el header(de cada uno hay un submenu) */
.ulNav>li {
    position: relative;
    padding: 9px 3px;
    background-color: var(--azulOscuro);
    transition: all 0.3s ease-out;
}

.ulNav>li:hover {
    background-color: var(--azulSemiOscuro);
}


.subMenu {
    border-top: solid 2px var(--celesteOscuro);
    display: none;
    position: absolute;
    right: 0;
    top: 57px;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ulNav>li:hover .subMenu {
    display: block;
}

/* Estilos para los enlaces */
.ulNav>li>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

.subMenu li {
    width: 200px;
    /* Ajusta el ancho del submenú según tus necesidades */
}

.subMenu li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: var(--azulOscuro);
    transition: all 0.2s ease-out;
}

.subMenu li a:hover {
    background-color: var(--azulSemiOscuro);
    color: #fff;
}

/* li crear usuario : roles asignados titulo " ROLES ASIGNADOS " */
.liRolesAsignadosTitulo,
.liLadosAsignadosTitulo {
    background-color: var(--celesteOscuro);
    color: #fff;
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    text-align: center;
}

/* li de cada rol asignado en crear usuario */
.liRolAsignadoCrearUsuario,
.liRolAsignadoModificarUsuario,
.liLadoAsignados,
.planAsignado {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    background-color: var(--azulSemiOscuro);
}


/* MOSTRAR MSJ CARD */
.divMsj {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--azulOscuro);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: solid 1px var(--celesteClaro);
}

.divMsj.mostrarMsj {
    display: block;
    z-index: 1000;
    /* Mostrar cuando tenga la clase mostrarMsj */
}

.divMsj h2 {
    color: var(--celesteOscuro);
    margin-bottom: 10px;
}

.divMsj ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.divMsj ul li {
    margin-bottom: 5px;
}

.divMsj button.btn-Msj {
    background-color: var(--azulSemiOscuro);
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.divMsj button.btn-Msj:hover {
    background-color: var(--celesteOscuro);
}




.column {
    flex-direction: column;
}

.flexCenter h1 {
    border-right: var(--celesteOscuro) 2px solid;
    padding-right: 2px;
    margin-right: 2px;
}

.text-center {
    text-align: center;
}

.text-fondoCeleste {
    background-color: var(--celesteOscuro);
    color: #fff;
    padding: 5px;
}

.text-azul {
    color: var(--azulSemiOscuro);
    letter-spacing: 0.5px;
}

.text-fondoAzul {
    /* background-color: var(--azulOscuro);
    color: var(--celesteOscuro); */
    color: #fff;
    background-color: var(--azulSemiOscuro);
    padding: 5px;
}

.borderRadiusTop5px {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.borderRadius4px {
    border-radius: 4px;
}

.width100 {
    width: 100%;
}


/* Botones iniciar sesion, enviar enlace(para restablecer pass) */
button {
    padding: 0.50rem 1.4rem;
    border-radius: 0.25rem;
    background-color: var(--azulSemiOscuro);
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

button:hover {
    background-color: var(--celesteOscuro);
}

/* boton lupa */

.fa-magnifying-glass {
    background-color: var(--azulSemiOscuro);
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        background-color: var(--azulSemiOscuro);
    }

    50% {
        background-color: var(--celesteOscuro);
    }

    100% {
        background-color: var(--azulSemiOscuro);
    }
}

.fa-magnifying-glass:hover {
    animation: none;
    background-color: var(--celesteOscuro);
}

/* boton/icono eliminar */
.fa-trash {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.fa-trash:hover {
    color: var(--celesteOscuro);
}

.btnEnviarEnlacePass {
    width: 145px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* btn para enviar nueva y confirmar contraseña en restablecer contraseña */
.btnRestablecerPass {
    width: 220px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Login */
/* btn restablecer contraseña en el form login */
.btnRecuperarPass {
    margin-top: 7px;
    font-size: 0.70rem;
    padding: 4px 5px;
    border-radius: 3px;
    background-color: var(--azulSemiOscuro);
    color: #fff;
    transition: all 0.3s ease-out;
}

.btnRecuperarPass:hover {
    background-color: var(--celesteOscuro);
}


.btnAsignarRol,
.btnAsignarLado,
.btnModificarLado,
.btnAsignarPlan {
    padding: 0.30rem 0.9rem;
}

.btnAgregarUsuario,
.btnModificarUsuario,
.btnAgregarMedicamento,
.btnModificarMedicamento,
.btnAgregarPrestacion,
.btnModificarPrestacion,
.btnAgregarObraSocial {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 160px;
}

.btnAgregarPrestacion,
.btnModificarPrestacion {
    width: auto;
    margin-top: 5px;
}

.btnModificarUsuario {
    width: 170px;
}

.btnAgregarMedicamento,
.btnModificarMedicamento,
.btnModificarMedicamentoItem,
.btnAgregarObraSocial {
    width: auto;
}



.section {
    z-index: 2;
    min-height: calc(100vh - 60px - 80px);
    max-width: 1370px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulOscuro);
    /* Calcula la altura disponible entre el header y el footer */
}

/* iniciar sesion, restablecer pass, divContenedor de crear usuario(card completa) */
.divLogin,
.divRecuperarPassword,
.divRestablecerPassword,
.divCrearUsuario,
.divModificarUsuario,
.divBuscarUsuarios,
.divAgregarMedicamento,
.divModificarMedicamento,
.divBuscarMedicamentos,
.divCrearPrestacion,
.divModificarPrestacion,
.divFormObraSocial {
    width: 420px;
    height: auto;
    display: flex;
    /* gap: 8px; */
    justify-content: center;
    border-radius: 8px;
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--azulSemiOscuro);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.divAgregarMedicamento,
.divModificarMedicamento,
.divBuscarMedicamentos {
    margin-top: 20px;
    margin-bottom: 18px;
}

.divLogin,
.divModificarUsuario {
    padding-bottom: 40px;
    gap: 30px;
}


.divCrearUsuario {
    width: auto;
    margin: 40px 0;
}

/* estilo para agregar flex y flex-direction fila */
.divFlexRow {
    display: flex;
    justify-content: center;
    padding: 0px 50px;
    gap: 12px;
}



.divAgregarMedicamento .divFlexRow,
.divModificarMedicamento .divFlexRow,
.divBuscarMedicamentos .divFlexRow {
    padding: 0;
}

.divDatosUsuarioNuevo,
.divDatosRolProfesional,
.divBuscarDatosRolProfesional .divDatosUsuarioModificar,
.divDatosModificarRolProfesional,
.divDatosUsuario {
    display: flex;
    flex-direction: column;
}

.divDatosModificarRolProfesional {
    justify-content: none;
}



/* Por ej en buscar usuario reutilizo el form de modificar usuario pero los botones modificar no son necesarios */
#ocultar {
    display: none;
}

.formLogin,
#formRecuperarPassword,
#formRestablecerPassword,
#formAgregarUsuario,
#formAgregarRolProfesional,
#formModificarUsuario,
#formModificarRolProfesional,
#formMostrarRolProfesional,
#formBuscarUsuario,
#formAgregarMedicamento,
#formModificarMedicamento,
#formAgregarPrestacion,
#formModificarPrestacion,
#formCrearObraSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    margin: 0 auto;
    /* padding: 30px; */
}

#formModificarRolProfesional,
#formModificarUsuario,
#formBuscarUsuario,
#formMostrarRolProfesional {
    padding: 15px 0px;

}

#formRestablecerPassword {
    padding: 35px 30px;
}

#formRecuperarPassword {
    padding: 0px 30px;
}

#formAgregarUsuario,
#formAgregarRolProfesional,
#formModificarUsuario,
#formModificarRolProfesional,
#formBuscarUsuario,
#formMostrarRolProfesional,
#formAgregarMedicamento,
#formModificarMedicamento,
#formAgregarPrestacion,
#formModificarPrestacion,
#formCrearObraSocial {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 340px;
}

#formAgregarMedicamento,
#formModificarMedicamento {
    padding-bottom: 45px;
}

#formAgregarPrestacion,
#formModificarPrestacion {
    padding-top: 0px;
    margin-bottom: 30px;
}

/* modificar usuario  */
.divBuscarDocumento {
    width: 330px;
    margin: 0 auto;
}

.divBuscarDocumento .fa-magnifying-glass,
.divBuscarNombreGenerico .fa-magnifying-glass,
.divMedicamentoItem .fa-magnifying-glass,
#formAgregarPrestacion .fa-magnifying-glass,
#formModificarPrestacion .fa-magnifying-glass,
#formCrearObraSocial .fa-magnifying-glass {
    margin-left: 10px;
}

/* Debajo del boton asignar rol hay un div oculto para mostrar los roles asignados */
#formAgregarUsuario .divRolesAsignados,
#formAgregarPrestacion .divLadosAsignados,
#formModificarPrestacion .divLadosModificados,
#formCrearObraSocial .divPlanesAsignados {
    display: none;
    border-radius: 4px;
    background-color: var(--azulSemiOscuro);
    background-color: var(--celesteOscuro);
}

/* ul lista de roles asigandor en agregar usuario */
.ulRolesAsignados,
.ulLadosAsignados,
.ulLadosModificados,
.planes-list,
.listaPlanesAsignados {
    width: 100%;
}

/* Recuperar pass: div contenedor de label e input correo */
.divCorreoRecuperarPass {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}


/* label iniciar sesion , label restablecer contraseña, labelCenter */
.labelLogin,
.restPassLabel,
.labelCenter,
.labelCenter130px {
    background-color: var(--azulSemiOscuro);
    color: #fff;
    border: 1px solid var(--azulSemiOscuro);
    padding: 4px;
    font-weight: 100;
    font-size: 0.9rem;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    align-content: center;
}



/* label en restablecer contraseña: nueva contraseña y confirmar contraseña */
.restPassLabel {
    flex: 0 0 auto;
    /* Ancho automático para el label */
}

/* label en form (administrador) -->crear usuario */
.labelCenter {
    width: 125px;
    text-align: center;
}

.labelCenter130px {
    text-align: center;
    width: 130px;
}

.labelCenter90px {
    width: 90px;
    text-align: center;
}

/* Achico la letra para mantener los labels del mismo tamaño en una sola linea de texto */
.labelFormaFarmaceutica {
    font-size: 0.8rem;
    padding: 5px;
}

/* Styles for login inputs */
.formLogin input,
.restPassInput,
input,
.selectRolesCrearUsuario,
.selectRolesModificarUsuario,
.selectEstadoModificarUsuario,
.selectEstadoModificarMedicamento,
.selectEstadoModificarMedicamentoItem,
#selectEstado {
    width: 130px;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* #formBuscarUsuario input, #formMostrarRolProfesional input{
    width: auto;
} */

.selectRolesCrearUsuario,
.selectRolesModificarUsuario,
.selectEstadoModificarUsuario,
.selectEstadoModificarMedicamento,
.selectEstadoModificarMedicamentoItem,
#selectEstado {
    text-align: start;
}

.restPassInput,
input,
.selectRolesCrearUsuario,
.selectRolesModificarUsuario,
.selectEstadoModificarUsuario,
.selectFamilia,
.selectCategoria,
.selectForma,
.selectPresentacion,
.selectConcentracion,
.selectEstadoModificarMedicamento,
.selectEstadoModificarMedicamentoItem,
#selectEstado {
    flex: 1 1 auto;
    /* El input ocupa todo el espacio restante */
}

/* div contenedor de input y label en form restablecer contraseña */
#formRestablecerPassword div,
#formAgregarUsuario div,
#formAgregarRolProfesional div,
#formModificarUsuario div,
#formModificarRolProfesional div,
#formMostrarRolProfesional div,
#formBuscarUsuario div,
#formAgregarMedicamento div,
#formModificarMedicamento div,
#formAgregarPrestacion div,
#formModificarPrestacion div,
.divFiltrar,
#formCrearObraSocial div,
#formCrearObraSocial .divPlanesAsignados {
    width: 100%;
    display: flex;
    align-items: center;
}

#formAgregarMedicamento .divDatosMedicamento,
#formModificarMedicamento .divDatosMedicamento,
#formModificarMedicamento .divDatosMedicamentoItem,
#formAgregarPrestacion .divMasCampos,
#formModificarPrestacion .divMasCampos,
#formCrearObraSocial .divMasCampos {
    gap: 5px;
}

.divMasCampos {
    height: auto;
    display: flex;
}

/* ocultar elementos con display flex  */
.displayNone {
    display: none !important;
}

#formAgregarMedicamento .displayNone {
    display: none;
}

/* .input e input restablecer pass  */
.input,
.restPassInput,
.selectRolesCrearUsuario,
.selectRolesModificarUsuario,
.selectEstadoModificarUsuario,
.selectFamilia,
.selectCategoria,
.selectForma,
.selectPresentacion,
.selectConcentracion,
.selectEstadoModificarMedicamento,
.selectEstadoModificarMedicamentoItem,
#selectEstado,
input {
    padding: 4px;
    font-weight: 100;
    font-size: 0.9rem;
    border: 1px solid var(--azulSemiOscuro);
    cursor: pointer;
    background-color: #fff;
}

/* select crear usuario */
.selectRolesCrearUsuario,
.selectRolesModificarUsuario,
.datosProfCaducidad,
.selectEstadoModificarUsuario,
.selectFamilia,
.selectCategoria,
.selectForma,
.selectPresentacion,
.selectConcentracion,
.selectEstadoModificarMedicamento,
.selectEstadoModificarMedicamentoItem,
#selectEstado {
    padding: 3px;
}

/* select, .input e input restablecer pass  */
.input:focus,
.restPassInput:focus,
select:focus,
input:focus {
    outline: none;
}


/* Select rol cuando tenga varios roles un user */
.divSelectRol {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: auto;
    border: solid 1px var(--azulSemiOscuro);
    border-radius: 9px;
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* background-color:  #023d8ac4; */
}

/* User logeado con varios roles p: Usted tiene varios roles. Por favor,seleccione el que desea ejecutar. */
/* Restablecer contraseña p: Te enviaremos un enlace para restablecer tu contraseña.  Por favor, ingresa tu correo electrónico.*/
.divSelectRol p,
.divRecuperarPassword p,
.divModificarUsuario p,
.divBuscarUsuarios p,
.divDatosMedicamentoNuevo p,
.divDatosBuscarMedicamentos p,
.divDatosPrestacionNueva p,
.divDatosPrestacion p,
.divLadosExistentes p,
.divPrestacionesExistentes p,
.divFormObraSocial p {
    width: 80%;
    margin: 30px auto;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    text-align: center;
    /* celeste oscuro trasparente */
    background-color: #007bffd7;
}

.divCrearPrestacion p,
.divModificarPrestacion p {
    width: 100%;
}

.divDatosMedicamentoNuevo p,
.divDatosMedicamentoModificar p,
.divDatosBuscarMedicamentos p,
.divDatosPrestacionNueva p,
.divLadosExistentes p,
.divFormObraSocial p {
    margin: 20px auto;
}

/* Form contenedor del select de roles */
#formSeleccionarRol {
    display: flex;
}

/* Selector con roles del usuario : change captura el option y lo envia por el form al endpoint*/
#selectorRol {
    margin: 0 auto;
    background-color: var(--celesteOscuro);
    color: #fff;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 150px;
    font-weight: 600;
    font-size: 1rem;
}


#selectorRol:hover {
    opacity: 0.70;
}

#selectorRol:focus {
    margin-bottom: 85px;
}

.divModificarUsuario,
.divBuscarUsuarios {
    margin-top: 15px;
    width: 400px;
    padding-bottom: 40px;
    gap: 0px;
}

.divBuscarUsuarios {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 21px;
}

/* .divModificarUsuario h4,
.divBuscarUsuarios h4 {
    margin-bottom: 15px;
} */

.divModificarUsuario .h4ModificarUsuario {
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 3px;
}

/* BUSCAR USUARIOS ******************************************************************************************** */
.divMostrarUsuariosTodos {
    border: 1px solid var(--azulSemiOscuro);
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--color-fondo);
    width: 85%;
}

.divContenedorCardsUsuarios {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.cardUsuario {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--azulSemiOscuro);
    border-radius: 9px;
    margin: 5px 0;
}

.datosUsuario,
.rolesUsuario,
.datosProfesional {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding: 5px 8px;
}

.rolesUsuario {
    width: auto;
    gap: 0;
    justify-content: start;
}

.rolesUsuario input {
    flex: 0.1 1 auto;
    width: auto;
}

.inputEmail,
.inputDomicilio {
    min-width: 250px;
    width: auto;
}


/* Al buscar un usuario en la lista de usuarios */
.divDatosUsuario {
    margin-top: 10px;
}

.divDatosUsuario h4,
.divBuscarDatosRolProfesional h4 {
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 3px;
}

.divBuscarDatosRolProfesional {
    margin-top: 10px;
}



/* AGREGAR MEDICAMENTO */
.divMedicamentosExistentes {
    width: 90%;
}

.divPrestacionesExistentes {
    width: 75%;
}

/* contenedor cards de prestaciones en mostrar lista prestaciones */
.divContenedorItemsPrestaciones {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 20px;
}

.cardPrestacion {
    width: 30%;
    border-radius: 5px;
    border: solid 2px var(--azulSemiOscuro);
}

.cardPrestacion .datoItem {
    margin: 3px;
}

.divLadosExistentes {
    margin-top: 25px;
    width: 60%;
    background-color: var(--color-fondo);
    border-radius: 11px;
}

.divLadosExistentes .divFiltrar,
.divPrestacionesExistentes .divFiltrar {
    width: 50%;
    margin: 20px auto;
}

.divPrestacionesExistentes .divFiltrar {
    width: 40%;
}

.divContenedorItems {
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-fondo);
    padding: 8px;
}

.cardItem {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--azulSemiOscuro);
    border-radius: 9px;
    width: 95%;
    margin: 0 auto;
}

.datosItem {
    padding: 5px 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.datoItem {
    display: flex;
}

.labelCenter142px {
    display: inline-block;
    /* Cambia display a inline-block */
    font-size: 0.9rem;
    width: 142px;
    text-align: center;
}

.inputItemMedicamento {
    /* font-size: 0.8rem; */
    width: auto;
    background-color: #fff;
}

.contenedorListasPrestacionesLados {
    gap: 40px;
}

/* //contenedor de lados en /buscarPrestaciones */
.divContenedorItemsLados {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    background-color: var(--color-fondo);
    padding: 8px;
    padding-bottom: 20px;
}

/* //cada una de las cards dentro del contenedor items lados */
.cardLados {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid var(--azulSemiOscuro);
    border-radius: 5px;
}

.cardLados .datoItem {
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
    padding: 3px;
    border-radius: 5px;
    flex-direction: column;

}



.cardLados .datoItem label,
.cardLados .datoItem input {
    width: 100%;
}


.divPrestacionesExistentes {
    background-color: var(--color-fondo);
    border-radius: 9px;
}


.footer {
    background-color: var(--azulOscuro);
    color: #fff;
    height: 80px;
    max-width: 1370px;
    margin: 0px auto;
}

.divMedicamentoForma,
.divMedicamentoPresentacion,
.divMedicamentoConcentracion,
.divBuscarNombreGenerico,
.divMedicamentoFamilia,
.divMedicamentoCategoria,
.divBuscarDescripcion,
.divLados,
.divBuscarNombre,
.divBuscarPlan {
    position: relative;
}

.listaFiltrada:hover {
    .divLados {
        height: 400px;
    }
}

.listaFiltrada {
    max-height: 100px;
    /* overflow-y: auto; */
    position: absolute;
    z-index: 2;
    top: 26px;
    width: 100%;
    right: -130px;
    /* display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end; */
}

/* Mover lista crear prestacion buscar descripcion  */
.right-127px {
    right: -127px;
}


.listaFiltradaItem {
    background-color: var(--color-fondo);
    padding: 2px 5px;
    cursor: pointer;
    width: 62%;
    color: var(--azulOscuro);
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 0.8rem;
}



.listaFiltradaItem:hover {
    background-color: var(--azulSemiOscuro);
    color: #fff;
}

/* crear obra social */
.divFormObraSocial {
    margin: 25px 0;
    padding-bottom: 25px;
}